.icone__heart {
    & .fa-solid {
        position: absolute;
        opacity: 0;
        background: linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: opacity 500ms ease-in-out ;
    }
    & .fa-regular{
        opacity: 1;
        transition: opacity 500ms ease-in-out  ;
    } 
    &:hover .fa-solid {
        opacity: 1;

         & +.fa-regular {
        opacity: 0;    
    } 
    }
}