*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   color: $colour-black;

}
p{
    font-weight: lighter;
    margin-top: 0.5em;
}
h2,h3{
    margin: 1em 0;
    font-weight: normal;
   
}

a {
    color: #000;
    text-decoration: none;
  }

ul{
    list-style: none;
}