@mixin font {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

@mixin overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* @mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */

$breakpoints: (
    "mobile": 576px,
    "tablet": 992px,
    "desktop": 1200px
);

@mixin mobile-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}